USE [ogrenciBilgiSistemiDB]
GO
/****** Object:  Table [dbo].[Bolumler]    Script Date: 5/28/2025 4:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumler](
	[bolumID] [int] IDENTITY(1,1) NOT NULL,
	[bolumIsmi] [varchar](100) NOT NULL,
	[bolumBaskaniID] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bolumID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DersKayit]    Script Date: 5/28/2025 4:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DersKayit](
	[dersKayitID] [int] IDENTITY(1,1) NOT NULL,
	[ogrenciID] [int] NOT NULL,
	[dersID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dersKayitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dersler]    Script Date: 5/28/2025 4:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dersler](
	[dersID] [int] IDENTITY(1,1) NOT NULL,
	[dersAdi] [varchar](100) NOT NULL,
	[bolumID] [int] NOT NULL,
	[kredi] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[dersID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrenciler]    Script Date: 5/28/2025 4:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrenciler](
	[ogrenciID] [int] IDENTITY(1,1) NOT NULL,
	[isim] [varchar](50) NOT NULL,
	[soyIsim] [varchar](50) NOT NULL,
	[email] [varchar](100) NULL,
	[dogumTarihi] [date] NOT NULL,
	[cinsiyet] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ogrenciID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OgretimGorevlileri]    Script Date: 5/28/2025 4:38:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OgretimGorevlileri](
	[ogretimGrID] [int] IDENTITY(1,1) NOT NULL,
	[isim] [varchar](50) NOT NULL,
	[soyIsim] [varchar](50) NOT NULL,
	[bolumID] [int] NOT NULL,
	[email] [varchar](100) NULL,
 CONSTRAINT [PK_OgretimGrID] PRIMARY KEY CLUSTERED 
(
	[ogretimGrID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DersKayit]  WITH CHECK ADD  CONSTRAINT [FK_DersKayit_Ders] FOREIGN KEY([dersID])
REFERENCES [dbo].[Dersler] ([dersID])
GO
ALTER TABLE [dbo].[DersKayit] CHECK CONSTRAINT [FK_DersKayit_Ders]
GO
ALTER TABLE [dbo].[DersKayit]  WITH CHECK ADD  CONSTRAINT [FK_DersKayit_Ogrenci] FOREIGN KEY([ogrenciID])
REFERENCES [dbo].[Ogrenciler] ([ogrenciID])
GO
ALTER TABLE [dbo].[DersKayit] CHECK CONSTRAINT [FK_DersKayit_Ogrenci]
GO
ALTER TABLE [dbo].[Dersler]  WITH CHECK ADD FOREIGN KEY([bolumID])
REFERENCES [dbo].[Bolumler] ([bolumID])
GO
ALTER TABLE [dbo].[OgretimGorevlileri]  WITH CHECK ADD FOREIGN KEY([bolumID])
REFERENCES [dbo].[Bolumler] ([bolumID])
GO
ALTER TABLE [dbo].[Ogrenciler]  WITH CHECK ADD CHECK  (([cinsiyet]='Kadin' OR [cinsiyet]='Erkek'))
GO
